* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container{
    background-image: url(pexels-pixabay-265087.jpg);
    background-position: center;
  
    
  }
 
form{
    background-color: rgb(94, 159, 170);
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
  
   
}
/* body{
    display: flex;
    justify-content: center;
} */
h2{
    display: inline-block;
}
h4{
    display: inline-block;
}
.fname,.lname,.email, .role,.address, .city, .pincode, .date, .cv,.btn{
    display: inline-block;
    font-size: larger;
    padding: 8px;
    margin: 8px;
}
input:focus {
    outline-color: red;
  }
  

  
input,
select,
textarea {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  margin-top: 7px;
}
.btn{
    display: flex;

    justify-content: flex-end;
    margin-top: 20px;

}
button{
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    transition: 0.3s ease-in;
    
}
button:hover {
    background-color: #ccc;
    border: 2px solid red;
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;
  }